* {
    box-sizing: border-box;
}

:root {
    --primColor: #13bfcb;
    --secColor: #434b4b;
    --fontColor: #c8c9cb;
}

/* header */

header {
    padding-bottom: 20px;
}

.top-nav-item {
    padding-right: 10px;
    text-decoration: none;
    color: gray;
}

.title-span {
    color: white;
    background-color: var(--primColor);
    border-radius: 50%;
    padding: 6px;
}

.title-header {
    padding: 10px;
}

.buttons {
    padding: 10px;
}

.header-btn {
    border: none;
    background-color: lightgray;
    color: gray;
    padding: 5px;
}

.header-btn-end {
    border: none;
    background-color: var(--primColor);
    color: white;
    padding: 5px;
}

.header-nav-item {
    padding-right: 20px;
    text-decoration: none;
    color: var(--secColor);
    font-weight: bold;
}

@media(min-width: 1024px) {
    .header-nav-item {
        padding-right: 40px;
    }
}

/* main */

/* section 1 */

.section1 {
    padding: 30px;
    background-color: lightgray;
}

.section1-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media(min-width:768px) {

    .section1-box {
        padding-top: 25%;
        padding-bottom: 20px;
    }

}

.section1-header1 {
    padding: 5px;
    width: 70px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
    background-color: var(--primColor);
}

.section1-header2 {
    padding: 5px;
    width: 215px;
    font-size: 25px;
    text-transform: uppercase;
    color: whitesmoke;
    background-color: var(--secColor);
}

.shop-now-btn {
    padding: 5px;
    width: 100px;
    text-transform: uppercase;
    color: whitesmoke;
    background-color: var(--secColor);
}

/* section 2 */

.section2-img {
    padding: 10px;
}

/* section 3 */

.section3 {
    padding-top: 20px;
}

.left-btn, .right-btn {
    width: 30px;
}

/* section 4 */

.section4 {
    padding-top: 20px;
}

.electronics-img {
    padding-top: 20px;
}

/* section 5 */

.section5 {
    padding-top: 20px;
}

/* section 6 */

.section6 {
    padding-top: 20px;
    padding-bottom: 30px;
}

@media(min-width:768px) {
    .section6 {
        padding-top: 20px;
        padding-bottom: 75px;
    }
}

/* footer */

.top-footer {
    padding: 20px;
    background-color: lightgray;
}

.top-footer-text {
    text-transform: uppercase;
    font-size: 18px;
    color: var(--secColor);
}

.email-bar {
    width: 70%;
    padding: 7px;
    font-size:12px;
    border: 3px solid yellow;
    border-radius: 5px;
    background-color: lightgray;
}

@media(min-width:1024px) {
    .top-footer-text {
        padding-top: 10px;
    }
}

@media(min-width:1440px) {
    .email-bar {
        width: 50%;
        font-size: 20px;
    }

    .top-footer-text {
        padding-top: 15px;
    }
}

.sign-up-btn {
    padding: 5px;
    background-color: var(--secColor);
    color: white;
}

.bottom-footer {
    padding: 30px;
    background-color: var(--secColor);
    color: white;
}

.bottom-footer-header {
    text-transform: uppercase;
    font-weight: bold;
}

.footer-square {
    list-style-type: square;
    padding-bottom: 20px;
}

.footer-list {
    color: white;
    text-decoration: none;
}

.footer-list:hover {
    color: var(--primColor);
}

.copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #113537;
    color: white;
}

.social-btns {
    background-color: var(--secColor);
    color: lightgray;
}

.footer-box {
    padding-top: 5px;
}

.copyright-text {
    padding-top: 5px;
}
